a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #0D0D0D, black);
  color: #F2F2F2;
  font-family: "Spartan", sans-serif;
}

.container {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 90%;
  }
}

.title {
  font-family: "Oxanium", sans-serif;
}

.block01 .container {
  display: flex;
}
.block01 .container .left {
  width: 100%;
  max-width: 50%;
}
.block01 .container .left .title {
  font-size: 64px;
}
@media screen and (max-width: 992px) {
  .block01 .container .left .title {
    font-size: 46px;
  }
}
.block01 .container .left .txt {
  font-size: 26px;
  margin-bottom: 60px;
}
@media screen and (max-width: 992px) {
  .block01 .container .left .txt {
    font-size: 22px;
  }
}
.block01 .container .left .btn {
  text-decoration: none;
  color: #F2F2F2;
  background-color: #F24B59;
  padding: 20px 45px;
  font-size: 24px;
}
.block01 .container .left .btn:hover {
  background-color: #f03343;
}
@media screen and (max-width: 992px) {
  .block01 .container .left .btn {
    font-size: 20px;
  }
}
.block01 .container .left .social {
  margin-top: 60px;
}
.block01 .container .left .social a {
  color: #F2F2F2;
  font-size: 42px;
  margin: 0 10px;
}
@media screen and (max-width: 992px) {
  .block01 .container .left .social a {
    font-size: 32px;
  }
}
@media screen and (max-width: 992px) {
  .block01 .container .left {
    max-width: 100%;
    text-align: center;
  }
}
.block01 .container .right {
  width: 100%;
  max-width: 50%;
  border-radius: 50%;
  padding-top: 150px;
}
.block01 .container .right .crop {
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  width: 30vw;
  height: 30vw;
  line-height: 30vw;
  text-align: center;
  color: #252B37;
  background-color: #151823;
  animation: textColor 10s ease infinite;
}
.block01 .container .right .crop:after {
  position: absolute;
  content: "";
  top: 5vw;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.75);
  -webkit-filter: blur(5vw);
  -moz-filter: blur(5vw);
  -ms-filter: blur(5vw);
  filter: blur(5vw);
  background: linear-gradient(270deg, #F24B59, #377BA6);
  background-size: 200% 200%;
  animation: animateGlow 5s ease infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.block01 .container .right .crop .image {
  overflow: hidden;
  border-radius: 50%;
  height: 100%;
}
.block01 .container .right .crop .image img {
  height: 100%;
  object-fit: cover;
  transform: translateX(-17%);
}
@media screen and (max-width: 992px) {
  .block01 .container .right .crop {
    width: 50vw;
    height: 50vw;
  }
}
@media screen and (max-width: 992px) {
  .block01 .container .right {
    max-width: 100%;
    padding-top: 50px;
  }
}
@media screen and (max-width: 992px) {
  .block01 .container {
    display: block;
  }
}

.block02 {
  margin-top: 60px;
}
.block02 .container {
  display: flex;
}
.block02 .container .left {
  width: 100%;
  max-width: 40%;
  text-align: left;
}
.block02 .container .left .title {
  font-size: 42px;
  animation: titleAnimation 0.8s ease;
}
@media screen and (max-width: 992px) {
  .block02 .container .left .title {
    font-size: 36px;
    text-align: left;
  }
}
.block02 .container .left .txt {
  width: 80%;
}
@media screen and (max-width: 992px) {
  .block02 .container .left .txt {
    width: 100%;
  }
}
.block02 .container .left hr {
  display: none;
  width: 100%;
  height: 4px;
  border: none;
  background-color: #F24B59;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .block02 .container .left hr {
    display: block;
  }
}
@media screen and (max-width: 992px) {
  .block02 .container .left {
    max-width: 100%;
  }
}
.block02 .container .right {
  width: 100%;
  max-width: 60%;
  padding: 50px 20px 0 20px;
  text-align: left;
}
.block02 .container .right hr {
  width: 100%;
  height: 4px;
  border: none;
  background-color: #F24B59;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .block02 .container .right hr {
    display: none;
  }
}
.block02 .container .right .list {
  list-style-type: none;
}
.block02 .container .right .list .item {
  margin-bottom: 20px;
  line-height: 22px;
}
.block02 .container .right .list .item:before {
  content: "o";
  color: #F24B59;
  font-weight: 600;
  position: relative;
  top: -2px;
  left: -20px;
}
.block02 .container .right .txt {
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  .block02 .container .right .txt {
    font-size: 16px;
  }
}
.block02 .container .right .linkdinbtn {
  text-align: center;
}
.block02 .container .right .linkdinbtn .btn {
  color: #0D0D0D;
  background-color: #F2F2F2;
  text-decoration: none;
  padding: 15px 20px;
}
.block02 .container .right .linkdinbtn .btn:hover {
  background-color: #e5e5e5;
}
@media screen and (max-width: 992px) {
  .block02 .container .right {
    max-width: 100%;
    padding: 0 0 0 0;
  }
}
@media screen and (max-width: 992px) {
  .block02 .container {
    display: block;
    text-align: center;
  }
}

.block03 {
  margin-top: 60px;
  text-align: center;
  max-width: 100%;
}
.block03 .container {
  display: flex;
  text-align: left;
}
.block03 .container .left {
  width: 100%;
  max-width: 40%;
}
.block03 .container .left .title {
  font-size: 42px;
  animation: titleAnimation 0.8s ease;
}
@media screen and (max-width: 992px) {
  .block03 .container .left .title {
    font-size: 36px;
    text-align: left;
  }
}
@media screen and (max-width: 992px) {
  .block03 .container .left {
    max-width: 100%;
  }
}
.block03 .container .right {
  width: 100%;
  max-width: 60%;
  padding: 50px 20px 0 20px;
}
.block03 .container .right hr {
  width: 100%;
  height: 4px;
  border: none;
  background-color: #F24B59;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .block03 .container .right {
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .block03 .container {
    display: block;
  }
}
.block03 .portfolio {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin-bottom: 70px;
}
.block03 .portfolio .item {
  flex: 1;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.block03 .portfolio .item .content {
  display: none;
  transition: 2s;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 460px;
  transition-delay: 4s;
  padding-top: 40px;
}
.block03 .portfolio .item .content .title {
  font-size: 24px;
}
.block03 .portfolio .item:hover {
  flex: 6;
}
.block03 .portfolio .item:hover .content {
  display: block;
  animation: openGallery 2s;
}
.block03 .portfolio #item01 {
  background-image: url(/images/img.png);
}
.block03 .portfolio #item02 {
  background-image: url(/images/img.png);
}
.block03 .portfolio #item03 {
  background-image: url(/images/img.png);
}
.block03 .portfolio #item04 {
  background-image: url(/images/img.png);
}
.block03 .portfolio #item05 {
  background-image: url(/images/img.png);
}
.block03 .btn {
  text-decoration: none;
  text-align: center;
  color: #F2F2F2;
  background-color: #F24B59;
  padding: 20px 45px;
  font-size: 24px;
  margin-top: 0px;
}
.block03 .btn:hover {
  background-color: #f03343;
}
@media screen and (max-width: 992px) {
  .block03 .btn {
    font-size: 18px;
  }
}

.block04, .block05 {
  margin-top: 60px;
}
.block04 .container, .block05 .container {
  display: flex;
}
.block04 .container .left, .block05 .container .left {
  width: 100%;
  max-width: 40%;
}
.block04 .container .left .title, .block05 .container .left .title {
  font-size: 42px;
  animation: titleAnimation 0.8s ease;
}
@media screen and (max-width: 992px) {
  .block04 .container .left .title, .block05 .container .left .title {
    font-size: 36px;
    text-align: left;
  }
}
@media screen and (max-width: 992px) {
  .block04 .container .left, .block05 .container .left {
    max-width: 100%;
  }
}
.block04 .container .right, .block05 .container .right {
  width: 100%;
  max-width: 60%;
  padding: 50px 20px 0 20px;
}
.block04 .container .right hr, .block05 .container .right hr {
  width: 100%;
  height: 4px;
  border: none;
  background-color: #F24B59;
  margin-bottom: 50px;
}
@media screen and (max-width: 992px) {
  .block04 .container .right hr, .block05 .container .right hr {
    height: 3px;
  }
}
.block04 .container .right .work, .block05 .container .right .work {
  border-bottom: 1px solid #731212;
  border-bottom-style: dotted;
}
.block04 .container .right .work .workTitle, .block05 .container .right .work .workTitle {
  display: flex;
  justify-content: space-between;
}
.block04 .container .right .work .workTitle .empresa, .block05 .container .right .work .workTitle .empresa {
  font-weight: 600;
  font-size: 18px;
}
@media screen and (max-width: 992px) {
  .block04 .container .right .work .workTitle .empresa, .block05 .container .right .work .workTitle .empresa {
    font-size: 16px;
  }
}
.block04 .container .right .work .workTitle .cargo, .block05 .container .right .work .workTitle .cargo {
  font-weight: 200;
  font-size: 18px;
  text-align: right;
}
@media screen and (max-width: 992px) {
  .block04 .container .right .work .workTitle .cargo, .block05 .container .right .work .workTitle .cargo {
    font-size: 16px;
  }
}
.block04 .container .right .work .workDate .dates, .block05 .container .right .work .workDate .dates {
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .block04 .container .right .work .workDate .dates, .block05 .container .right .work .workDate .dates {
    font-size: 12px;
  }
}
.block04 .container .right .work:last-child, .block05 .container .right .work:last-child {
  border: 0;
}
@media screen and (max-width: 992px) {
  .block04 .container .right, .block05 .container .right {
    max-width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 992px) {
  .block04 .container, .block05 .container {
    display: block;
  }
}

.block06 {
  background-color: #f14150;
  color: #F2F2F2;
  padding: 50px 0 0 0;
  margin-top: 90px;
}
.block06 .container {
  text-align: center;
}
.block06 .container .title {
  font-size: 52px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 992px) {
  .block06 .container .title {
    display: block;
  }
}
.block06 .container .title .changeBox {
  margin-left: 20px;
  height: 52px;
  overflow: hidden;
}
@media screen and (max-width: 992px) {
  .block06 .container .title .changeBox {
    margin-left: 0;
  }
}
.block06 .container .title .changeBox .words {
  margin: 0;
  padding: 0;
  list-style-type: none;
  animation: change 16s infinite ease;
  text-align: left;
}
.block06 .container .title .changeBox .words .word {
  font-size: 52px;
  margin: 0;
  line-height: 62px;
}
@media screen and (max-width: 992px) {
  .block06 .container .title .changeBox .words .word {
    font-size: 34px;
  }
}
@media screen and (max-width: 992px) {
  .block06 .container .title .changeBox .words {
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .block06 .container .title {
    font-size: 34px;
  }
}
.block06 .container .subtitle {
  font-size: 28px;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .block06 .container .subtitle {
    font-size: 22px;
    width: 90%;
  }
}
.block06 .container a {
  color: #F2F2F2;
}
.block06 .container .txt {
  font-size: 26px;
}
@media screen and (max-width: 992px) {
  .block06 .container .txt {
    font-size: 22px;
  }
}
.block06 .container .social {
  padding-bottom: 80px;
}
.block06 .container .social a {
  color: #F2F2F2;
  font-size: 36px;
  margin: 5px;
}
@media screen and (max-width: 992px) {
  .block06 .container .social a {
    font-size: 32px;
  }
}
.block06 .dev {
  font-size: 8px;
  margin: 0;
}
.block06 .dev a {
  color: #F2F2F2;
}

.menu {
  position: fixed;
  bottom: 30px;
  background-color: #377BA6;
  left: calc(50% - 60px);
  height: 40px;
  width: 120px;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 3px #000000);
  z-index: 5;
}
.menu .menuButton {
  padding: 8px;
  overflow: hidden;
}
.menu .menuButton .hamburguer {
  height: 3px;
  width: 35px;
  margin-top: 30px;
  background-color: #F2F2F2;
  margin: 4px auto;
  transform: rotate(0deg);
  transition: 1s;
}
.menu .menuButton .hamburguer.open {
  transition: 1s;
}
.menu .menuButton .hamburguer.open:first-child {
  transform: rotate(45deg);
  transition: 1s;
  margin-top: 10px;
}
.menu .menuButton .hamburguer.open:nth-child(2) {
  transform: translateX(100px);
  transition: 0.4s;
}
.menu .menuButton .hamburguer.open:nth-child(3) {
  transform: rotate(-45deg);
  transition: 1s;
  margin-top: -13px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 3;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  transition: 1s;
}
.overlay.open {
  display: block;
}
.overlay .menuOptions {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 80%;
}
.overlay .menuOptions .sectionsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  justify-content: space-between;
  margin: 20px;
  padding: 0;
}
.overlay .menuOptions .sectionsList .section {
  font-family: "Oxanium", sans-serif;
  font-weight: 600;
  font-size: 52px;
}
@media screen and (max-width: 992px) {
  .overlay .menuOptions .sectionsList .section {
    font-size: 26px;
  }
}
.overlay .menuOptions .sectionsList .section a {
  color: #F2F2F2;
}

.allProjects {
  position: absolute;
  top: 0;
  left: 0;
}
.allProjects .overlay {
  z-index: 6;
  flex-direction: column;
  justify-content: space-between;
}
.allProjects .overlay .miniContainer {
  width: 90%;
  height: 83%;
  background-color: #F2F2F2;
  margin: auto;
  border-radius: 2px;
  overflow-y: scroll;
}
.allProjects .overlay .miniContainer span {
  background-color: #731212;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 22px);
  border-radius: 50%;
  padding: 12px 13px 10px 12px;
  font-weight: 200;
  font-family: "Oxanium", sans-serif;
  font-size: 25px;
  line-height: 25px;
  text-align: right;
  animation: popUp 0.5s ease;
}
.allProjects .overlay .miniContainer .content {
  display: flex;
  padding: 20px;
}
@media screen and (max-width: 992px) {
  .allProjects .overlay .miniContainer .content {
    display: block;
  }
}
.allProjects .overlay .miniContainer .content:nth-child(odd) {
  flex-direction: row;
}
.allProjects .overlay .miniContainer .content:nth-child(even) {
  flex-direction: row-reverse;
}
.allProjects .overlay .miniContainer .content .text {
  color: #0D0D0D;
  width: 100%;
  max-width: 50%;
  padding: 25px;
}
.allProjects .overlay .miniContainer .content .text .title {
  font-size: 18px;
}
.allProjects .overlay .miniContainer .content .text .txt {
  font-size: 14px;
}
@media screen and (max-width: 992px) {
  .allProjects .overlay .miniContainer .content .text {
    max-width: 100%;
    padding: 10px 0;
  }
}
.allProjects .overlay .miniContainer .content .image {
  width: 100%;
  max-width: 50%;
}
.allProjects .overlay .miniContainer .content .image img {
  max-width: 100%;
}
@media screen and (max-width: 992px) {
  .allProjects .overlay .miniContainer .content .image {
    max-width: 100%;
  }
}
.allProjects .overlay.open {
  display: flex;
}

@keyframes openGallery {
  0% {
    display: none;
  }
  50% {
    display: none;
  }
  100% {
    display: block;
  }
}
@keyframes titleAnimation {
  0% {
    margin-left: -200%;
  }
  70% {
    margin-left: 2%;
  }
  80% {
    margin-left: -1%;
  }
  90% {
    margin-left: 0.5%;
  }
  95% {
    margin-left: -0.3%;
  }
  100% {
    margin-left: 0%;
  }
}
@keyframes change {
  0%, 100% {
    margin-top: 0;
  }
  12%, 84% {
    margin-top: -62px;
  }
  24%, 72% {
    margin-top: -124px;
  }
  36%, 60% {
    margin-top: -186px;
  }
  48% {
    margin-top: -248px;
  }
}
@keyframes textColor {
  0% {
    color: #7e0fff;
  }
  50% {
    color: #0fffc1;
  }
  100% {
    color: #7e0fff;
  }
}
@keyframes popUp {
  0% {
    transform: scale(0);
  }
  40% {
    bottom: 12px;
  }
  70% {
    bottom: 8px;
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
